*{margin:0; padding: 0;}
input{caret-color: #ff0000;}
input:focus {
  outline-color: #ff0000;
}
.login{width: 320px; padding: 187px 20px 137px; position: absolute; left:50%; transform: translateX(-50%);}
.logo span{ width: 170px; height: 33px; margin: 0 75px 24px; font-family: NotoSans; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.38; letter-spacing: -0.6px; text-align: left; color: #f92626;}
.input-box{
  margin-top: 18px; margin-bottom: 20px;
  input{
    width: 296px; height: 18px; margin: 6px 0 4px; padding: 15px 12px; border-radius: 6px; border: solid 1px #ababab;
  }
  .error{
    font-family: NotoSans; font-size: 12px; color:#ff0000; margin: 4px 24px 0 4px;
  }
  div{position: relative;
    div{
      width: 18px; height: 18px; position: absolute; color: #cccccc; right: 12px; top: 21px;
    }
  }
}
.login-button{ width: 320px; height: 20px; margin-bottom: 18px; padding: 14px 0; border-radius: 25px; background-color: #f92626; text-align: center;
  span{
    font-size: 16px; color:#fff;
  }
}
.non-login {
  height: 17px; width: fit-content; margin: auto;
  font-family: NotoSans; font-size: 12px; letter-spacing: -0.3px; text-align: left; color: #222;
  a {
    text-decoration: none; color: #222;
    span.find-id{ width: 62px; margin: 0 12.5px 0 0;}
    span.find-password{ width: 73px; margin: 0 12.5px; }
    span.join{ width: 47px; margin: 1px 0 0 12.5px;}
    span.vertical{ margin:0 12.5px; position: relative; top: -1.5px;}
  }
}
.social-login{
  width: 226px; margin: 17px 0; position: relative; left: 50%; transform: translateX(-50%);
div{float:left; margin:38.5px; font-size: 11px; text-align: center;}
  img{width: 36px; height: 36px;}
  span{margin: 8px 0 0; font-size: 12px; color: #222;}
}
